html
	head
		meta(charset='utf8')
		link(rel="stylesheet",href="style.css")
		title 今日工作总结
	body
		form(action='/dailywrite/write', method='POST',)
			div
				label 填写今日工作内容:
				br
				textarea(name="content",cols=150,rows=2)
			div 
				label 明日计划:
				br
				textarea(name="play",cols=150,rows=2)
			div
				input(type='submit',value='提交')
		ul
		for resu in result
			li '#{resu.content}'
			li '#{resu.play}'