html
    head
        meta(charset='utf-8')
        link(rel="stylesheet",href="style.css")
        title 登录
    body
        div.login
            form(action='/login/login', method='POST')
                div.line 
                    div.label 用户名
                    div.cont
                        input(type='text',name='username',placeholder="用户名" )
                div.line
                    div.label 密码
                    div.cont
                        input(type='password',name='pwd',placeholder="密码")
                div.line
                    input(type='submit',value='登录',class="submit_center")
                    a(href='/register.jade') 注册新用户
                    