html(lang="en")
    head 
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=450; height=700") 
        title register number
        link(rel="stylesheet",href="sweet.css", type="text/css", media="screen", title="sweet css",charset="utf-8")
    body
        center
            div(id="signupform")
                center
                    span 注册
                form(class="form", name="betaform", action="/register/index", method='POST')
                    input( type="hidden", name="action", value="send")
                    span name: 
                    div(class="fieldHolder")
                        input(type="text", name="username", class="textInput")
                    span email: 
                    div(class="fieldHolder")
                        input(type="text", name="email", class="textInput" )
                    span password:
                    div(class="fieldHolder") 
                        input(type="text", name="password", class="textInput" )
                    span password again:
                    div(class="fieldHolder") 
                        input(type="text", name="password2", class="textInput" )
                    a(id="submit")
                        div(id="signup")
                            span 确定
            script(type="text/javascript",src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js")
            script(type="text/javascript",src="register.js")